{% extends '../../layout/base_layout.html' %}
{% block head %}
{% parent %}
<link href="/css/baike.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row" style="margin: 20px 50px">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <div class="horizontal-list jl-baike-category-list">
                    <ul>
                        <li class="active">
                            <div>
                                <img src="/images/icon-baike-01.png"/>
                                <p>所有分类</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/images/icon-baike-02.png"/>
                                <p>前期准备</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/images/icon-baike-01.png"/>
                                <p>方案设计</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/images/icon-baike-01.png"/>
                                <p>建筑采纳</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/images/icon-baike-01.png"/>
                                <p>硬装施工</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/images/icon-baike-01.png"/>
                                <p>软装配饰</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/images/icon-baike-01.png"/>
                                <p>工程验收</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="jl-baike-category-filter">
                    <!-- Split button -->
                    <div class="btn-group">
                        <label>排序:</label>
                        <button type="button" class="btn btn-default">按时间排序</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">按时间排序</a></li>
                            <li><a href="#">按标题排序</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <label>类型:</label>
                        <button type="button" class="btn btn-default">所有类型</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">所有类型</a></li>
                            <li><a href="#">前期准备</a></li>
                            <li><a href="#">方案设计</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul style="padding: 6px 20px">
                    <li>
                        <div class="row jl-baike-list-item">
                            <img class="col-md-3" src="/images/img-baike-list-item.png">
                            <div class="col-md-9" style="height: 100%">
                                <div class="jl-baike-item-header">
                                    <h6>自主打造的欧式混搭现代风格美家清新亮相</h6>
                                    <label>前期准备</label>
                                </div>
                                <p class="jl-baike-item-desc">
                                    这么久才放送的卧室篇其实是因为平时太忙了（好吧，我承认是因为懒得收拾房间）但不写出来总有种欠债的感觉，干什么都觉得心中
                                    惴惴不安，所以今天有空就赶紧发了吧~ 先来说说主卧，是很标准的四方形，虽然不大，但还是被我打理的五脏俱全，门直对着看进去是个
                                    电视机柜，储物功能很实在也很合理现在基本已经被我塞得满满的了，上面放点小东西也挺漂亮~
                                    这么久才放送的卧室篇其实是因为平时太忙了（好吧，我承认是因为懒得收拾房间）但不写出来总有种欠债的感觉，干什么都觉得心中
                                    惴惴不安，所以今天有空就赶紧发了吧~ 先来说说主卧，是很标准的四方形，虽然不大，但还是被我打理的五脏俱全，门直对着看进去是个
                                    电视机柜，储物功能很实在也很合理现在基本已经被我塞得满满的了，上面放点小东西也挺漂亮~
                                </p>
                                <div class="jl-baike-item-footer">
                                    <label>1290人浏览</label>
                                    <label style="float: right; padding-left: 30px; border-left: 1px solid black">2016-3-2 </label>
                                    <label style="float: right; padding-right:30px">4级监理 </label>
                                    <label style="float: right; padding-right: 10px">刘志强 </label>
                                    <label style="color: grey; float: right;padding-right: 10px">发布者: </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row jl-baike-list-item">
                            <img class="col-md-3" src="/images/img-baike-list-item.png">
                            <div class="col-md-9" style="height: 100%">
                                <div class="jl-baike-item-header">
                                    <h6>自主打造的欧式混搭现代风格美家清新亮相</h6>
                                    <label>前期准备</label>
                                </div>
                                <p class="jl-baike-item-desc">
                                    这么久才放送的卧室篇其实是因为平时太忙了（好吧，我承认是因为懒得收拾房间）但不写出来总有种欠债的感觉，干什么都觉得心中
                                    惴惴不安，所以今天有空就赶紧发了吧~ 先来说说主卧，是很标准的四方形，虽然不大，但还是被我打理的五脏俱全，门直对着看进去是个
                                    电视机柜，储物功能很实在也很合理现在基本已经被我塞得满满的了，上面放点小东西也挺漂亮~
                                    这么久才放送的卧室篇其实是因为平时太忙了（好吧，我承认是因为懒得收拾房间）但不写出来总有种欠债的感觉，干什么都觉得心中
                                    惴惴不安，所以今天有空就赶紧发了吧~ 先来说说主卧，是很标准的四方形，虽然不大，但还是被我打理的五脏俱全，门直对着看进去是个
                                    电视机柜，储物功能很实在也很合理现在基本已经被我塞得满满的了，上面放点小东西也挺漂亮~
                                </p>
                                <div class="jl-baike-item-footer">
                                    <label>1290人浏览</label>
                                    <label style="float: right; padding-left: 30px; border-left: 1px solid black">2016-3-2 </label>
                                    <label style="float: right; padding-right:30px">4级监理 </label>
                                    <label style="float: right; padding-right: 10px">刘志强 </label>
                                    <label style="color: grey; float: right;padding-right: 10px">发布者: </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row jl-baike-list-item">
                            <img class="col-md-3" src="/images/img-baike-list-item.png">
                            <div class="col-md-9" style="height: 100%">
                                <div class="jl-baike-item-header">
                                    <h6>自主打造的欧式混搭现代风格美家清新亮相</h6>
                                    <label>前期准备</label>
                                </div>
                                <p class="jl-baike-item-desc">
                                    这么久才放送的卧室篇其实是因为平时太忙了（好吧，我承认是因为懒得收拾房间）但不写出来总有种欠债的感觉，干什么都觉得心中
                                    惴惴不安，所以今天有空就赶紧发了吧~ 先来说说主卧，是很标准的四方形，虽然不大，但还是被我打理的五脏俱全，门直对着看进去是个
                                    电视机柜，储物功能很实在也很合理现在基本已经被我塞得满满的了，上面放点小东西也挺漂亮~
                                    这么久才放送的卧室篇其实是因为平时太忙了（好吧，我承认是因为懒得收拾房间）但不写出来总有种欠债的感觉，干什么都觉得心中
                                    惴惴不安，所以今天有空就赶紧发了吧~ 先来说说主卧，是很标准的四方形，虽然不大，但还是被我打理的五脏俱全，门直对着看进去是个
                                    电视机柜，储物功能很实在也很合理现在基本已经被我塞得满满的了，上面放点小东西也挺漂亮~
                                </p>
                                <div class="jl-baike-item-footer">
                                    <label>1290人浏览</label>
                                    <label style="float: right; padding-left: 30px; border-left: 1px solid black">2016-3-2 </label>
                                    <label style="float: right; padding-right:30px">4级监理 </label>
                                    <label style="float: right; padding-right: 10px">刘志强 </label>
                                    <label style="color: grey; float: right;padding-right: 10px">发布者: </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row jl-baike-list-item">
                            <img class="col-md-3" src="/images/img-baike-list-item.png">
                            <div class="col-md-9" style="height: 100%">
                                <div class="jl-baike-item-header">
                                    <h6>自主打造的欧式混搭现代风格美家清新亮相</h6>
                                    <label>前期准备</label>
                                </div>
                                <p class="jl-baike-item-desc">
                                    这么久才放送的卧室篇其实是因为平时太忙了（好吧，我承认是因为懒得收拾房间）但不写出来总有种欠债的感觉，干什么都觉得心中
                                    惴惴不安，所以今天有空就赶紧发了吧~ 先来说说主卧，是很标准的四方形，虽然不大，但还是被我打理的五脏俱全，门直对着看进去是个
                                    电视机柜，储物功能很实在也很合理现在基本已经被我塞得满满的了，上面放点小东西也挺漂亮~
                                    这么久才放送的卧室篇其实是因为平时太忙了（好吧，我承认是因为懒得收拾房间）但不写出来总有种欠债的感觉，干什么都觉得心中
                                    惴惴不安，所以今天有空就赶紧发了吧~ 先来说说主卧，是很标准的四方形，虽然不大，但还是被我打理的五脏俱全，门直对着看进去是个
                                    电视机柜，储物功能很实在也很合理现在基本已经被我塞得满满的了，上面放点小东西也挺漂亮~
                                </p>
                                <div class="jl-baike-item-footer">
                                    <label>1290人浏览</label>
                                    <label style="float: right; padding-left: 30px; border-left: 1px solid black">2016-3-2 </label>
                                    <label style="float: right; padding-right:30px">4级监理 </label>
                                    <label style="float: right; padding-right: 10px">刘志强 </label>
                                    <label style="color: grey; float: right;padding-right: 10px">发布者: </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row jl-baike-list-item">
                            <img class="col-md-3" src="/images/img-baike-list-item.png">
                            <div class="col-md-9" style="height: 100%">
                                <div class="jl-baike-item-header">
                                    <h6>自主打造的欧式混搭现代风格美家清新亮相</h6>
                                    <label>前期准备</label>
                                </div>
                                <p class="jl-baike-item-desc">
                                    这么久才放送的卧室篇其实是因为平时太忙了（好吧，我承认是因为懒得收拾房间）但不写出来总有种欠债的感觉，干什么都觉得心中
                                    惴惴不安，所以今天有空就赶紧发了吧~ 先来说说主卧，是很标准的四方形，虽然不大，但还是被我打理的五脏俱全，门直对着看进去是个
                                    电视机柜，储物功能很实在也很合理现在基本已经被我塞得满满的了，上面放点小东西也挺漂亮~
                                    这么久才放送的卧室篇其实是因为平时太忙了（好吧，我承认是因为懒得收拾房间）但不写出来总有种欠债的感觉，干什么都觉得心中
                                    惴惴不安，所以今天有空就赶紧发了吧~ 先来说说主卧，是很标准的四方形，虽然不大，但还是被我打理的五脏俱全，门直对着看进去是个
                                    电视机柜，储物功能很实在也很合理现在基本已经被我塞得满满的了，上面放点小东西也挺漂亮~
                                </p>
                                <div class="jl-baike-item-footer">
                                    <label>1290人浏览</label>
                                    <label style="float: right; padding-left: 30px; border-left: 1px solid black">2016-3-2 </label>
                                    <label style="float: right; padding-right:30px">4级监理 </label>
                                    <label style="float: right; padding-right: 10px">刘志强 </label>
                                    <label style="color: grey; float: right;padding-right: 10px">发布者: </label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav style="float: right">
                    <ul class="pagination pagination-sm ">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
    <div class="col-md-3 jl-hot-baike-items">
        <p>热门百科</p>
        <ul>
            <li>2015年装修五大流行趋势</li>
            <li>一张图带你了解装修</li>
            <li>品味小清新美居</li>
            <li>复古美苑心中理想之家</li>
            <li>欧式混搭现代风格美家</li>
        </ul>
    </div>

</div>

{% endblock %}

{% block footer %}
{% parent %}
<script src="/js/baike.js"/>
{% endblock %}
