@media (min-device-width: 544px) {
  .footer {
    display: block;
  }
}

@media (max-device-width: 544px) {
  .footer {
    display: none;
  }
}

.footer {
  height: 110px;
  background-color: black;
  color: #8b8b8b;
  font-size: smaller;
  padding: 10px;
}

.footer div {
  display: inline-block;
}

.footer .logo {
  display: inline-block;
  padding-top: 30px;
  margin-left: 0;
}

.footer .link {
  padding: 20px;
}

.footer p {
  line-height: 110%;
}


.footer .link a {
  color: #8b8b8b;
}

.footer label {
  color: #8b8b8b;
}