//服务案例
.jl-example {
  padding: 0;
  margin: 0;
}

.jl-example .jl-example-item {
  width: 261px;
  height: 310px;
  background-color: gainsboro;
}

.jl-example .jl-example-item img {
  width: 261px;
  height: 200px;
}

.jl-example .jl-engineer-container {
  text-align: center;
  line-height: 50%;
}

.jl-example .jl-engineer-container .jl-engineer-pic-outer {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  margin: -30px auto 0;
  background-color: gainsboro;
  z-index: 100;
  padding: 8px;
}

.jl-example .jl-engineer-container .jl-engineer-pic-inner {
  width: 44px;
  height: 44px;
  margin: 0 auto;
  border-radius: 22px;
  text-align: center;
  background-color: gainsboro;
  border: 2px solid black;
}

.jl-example .jl-client-house {
  border-top: 1px solid lawngreen;
  padding: 10px 6px 10px 6px;
  text-align: center;
}

.jl-example .jl-client-house span {
  font-size: 80%;
  padding: 0 6px 0 6px;
}

.jl-example ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.jl-example li {
  float: left;
  margin: 5px;
}
