//服务流程
.jl-process {
  padding: 0;
  margin: 0;
}

.jl-process .jl-process-item {
  text-align: center;
}
.jl-process .jl-process-item-img {
  width:100px;
  height:100px;
  border-radius:50px;
  border: 1px solid white;
  text-align:center;
  padding-top: 32px;
}

.jl-process .jl-process-item-title {
  margin: 20px 0px 30px 0px;
}
.jl-process .jl-process-item-detail {
  line-height: 50%;
  font-size: 80%;
}
.jl-process ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.jl-process li {
  float: left;
}

.jl-process .jl-process-seperator {
  padding: 35px 20px 0px 20px;
  color: white;
}