//服务流程

@media (min-width: 544px) {
  .jl-process-container {
    display: block;
  }
}

.jl-process-container {
  display: none;
}

.jl-process {
  margin: 20px 8%;
  padding: 0;
  text-align: center;
}

.jl-process .jl-process-item {
  height: 120px;
  position: relative;
  padding: 20px;
}
.jl-process .jl-process-item-img {
  width:60px;
  height:60px;
  border-radius:30px;
  background-color: #4b978a;
  text-align: center;
  padding-top: 20px;
  float: left;
}
.jl-process .jl-process-item-content {
  width: 300px;
  margin-left: 10px;
  margin-top: 5px;
  float: left;
}
.jl-process .jl-process-item-title {
  color: #dae5e2;
  text-align: left;
  font-size: 8px;
  margin-bottom: 10px;
}
.jl-process .jl-process-item-detail {
  color: #8ab3a8;
  text-align: left;
  font-size: 8px;
  line-height: 120%;
  margin-bottom: 0px;

}
.jl-process ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.jl-process li {
  float: left;
}

.jl-process .jl-process-seperator {
  padding: 45px 20px 0px 20px;
  color: white;
}