.header .header-inner {
  margin: 0 auto;
  padding: 70px 0 70px;
  width: 700px;
}

@media (min-width: 992px) {
  .header .site-nav {
    display: block !important;
  }
}

/*menu*/
.menu {
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}

.ul, .menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.menu .menu-item {
  display: inline-block;
  margin: 0 10px;
}

.menu .menu-item a {
  display: block;
  text-decoration: none;
  font-size: 13px;
  text-transform: capitalize;
  line-height: inherit;
  border-bottom: 1px solid transparent;
  transition-property: border-color;
  transition-duration: 1.8s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.menu .menu-item .fa {
  margin-right: 0;
}

.menu-item-icon {
  font-size: 16px;
}

.menu .menu-item a:hover {
  border-bottom-color: #222;
}