#quick_nav {
  position: fixed;
  left: 15px;
  top: 160px;
  z-index: 100;
}

#quick_nav img {
  width: 15px;
  height: 15px;
}


#quick_nav li {
  padding: 5px;
}

#quick_nav .img-outer {
  width:26px;
  height:26px;
  border-radius:13px;
  border: 1px solid #333;
  background-color: white;
  text-align:center;
  padding-top: 2px;
}