{% extends '../../layout/base_layout.html' %}
{% block head %}
{% parent %}
<link href="/css/about.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="about-content">
    <div class="row">
        <div class="col-md-3">
            <div class="i-title about-title">
                <i class="fa fa-user-o"></i><span>崔工介绍</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <div>
                <img src="/images/img-team-01.jpg" width="800px"/>
            </div>
            <div class="about-detail">
                <p>
                    “崔工监理”开创互联网家装监理服务理念，用专业角度帮助业主处理装修中的相关事宜，对装修工程进行全方位的监理，通过装崔工积累的项目管理经验和行业资源，让您省钱、省心，省力的实现高质量的装修。
                </p>
            </div>

        </div>
    </div>

</div>
{% endblock %}
