<div class="footer">
    <div class="row">
        <div class="col-md-1 col-md-offset-1">
            <div class="logo">
                <img src="/images/logo.png" style="height: 20px">
            </div>
        </div>

        <div class="col-md-4 col-md-offset-1">
            <div class="link">
                <p style="text-align: left">京公网安备11010502afe2339号</p>
                <p style="text-align: left">© 2017 京ICP备1feafe3ge13号-3</p>
            </div>
        </div>

        <div class="col-md-2">
            <div class="link">
                <p><a href="http://home.19lou.com/forum-72-1.html">杭州19楼家居</a></p>
                <p><a href="http://home.19lou.com/forum-72-1.html">杭州19楼家居</a></p>
            </div>
        </div>

        <div class="col-md-2 col-md-offset-1">
            <div class="wx">
                <img src="/images/weixin.png" style="width: 98px">
            </div>
        </div>


    </div>
</div>