<div class="row footer">
    <div class="col-md-1 col-md-offset-1">
        <div class="logo">
            <img src="/images/logo.png" style="height: 20px">
        </div>
    </div>

    <div class="col-md-4 col-md-offset-1">
        <div class="link">
            <p style="text-align: left">京公网安备11010502030789号</p>
            <p style="text-align: left">© 2015 ZHUANGXIAOMI.COM　京ICP备13026313号-3</p>
        </div>
    </div>

    <div class="col-md-2">
        <div class="link">
            <p><a href="http://home.19lou.com/forum-72-1.html">杭州19楼家居</a></p>
            <p><a href="http://home.19lou.com/forum-72-1.html">杭州19楼家居</a></p>
        </div>
    </div>


</div>