<div class="jl-baike">
    <ul>
        <li>
            <div class="jl-baike-item">
                <div class="jl-baike-icon-container">
                    <img src="/images/icon-baike-01.png" style="width: 35px; height: 35px">
                    <p style="padding: 10px 0 0 0">
                        <span style="font-size: x-small">前期准备</span>
                    </p>
                </div>
                <div class="jl-baike-content-container">
                    <p><span>[前期]&nbsp世上最牛装修流程图装修流程图</span></p>
                    <p><span>[前期]&nbsp世上最牛装修流程图装修流程图</span></p>
                    <p><span>[前期]&nbsp世上最牛装修流程图装修流程图</span></p>
                    <p><a href="#">更多内容</a></p>
                </div>
            </div>
        </li>

        <li>
            <div class="jl-baike-item">
                <div class="jl-baike-icon-container">
                    <img src="/images/icon-baike-01.png" style="width: 35px; height: 35px">
                    <p style="padding: 10px 0 0 0">
                        <span style="font-size: x-small">水电验收</span>
                    </p>
                </div>
                <div class="jl-baike-content-container">
                    <p><span>[前期]&nbsp世上最牛装修流程图装修流程图</span></p>
                    <p><span>[前期]&nbsp世上最牛装修流程图装修流程图</span></p>
                    <p><span>[前期]&nbsp世上最牛装修流程图装修流程图</span></p>
                    <p><a href="#">更多内容</a></p>
                </div>
            </div>
        </li>

        <li>
            <div class="jl-baike-item">
                <div class="jl-baike-icon-container">
                    <img src="/images/icon-baike-01.png" style="width: 35px; height: 35px">
                    <p style="padding: 10px 0 0 0">
                        <span style="font-size: x-small">木工验收</span>
                    </p>
                </div>
                <div class="jl-baike-content-container">
                    <p><span>[前期]&nbsp世上最牛装修流程图装修流程图</span></p>
                    <p><span>[前期]&nbsp世上最牛装修流程图装修流程图</span></p>
                    <p><span>[前期]&nbsp世上最牛装修流程图装修流程图</span></p>
                    <p><a href="#">更多内容</a></p>
                </div>
            </div>
        </li>

        <li>
            <div class="jl-baike-item">
                <div class="jl-baike-icon-container">
                    <img src="/images/icon-baike-01.png" style="width: 35px; height: 35px">
                    <p style="padding: 10px 0 0 0">
                        <span style="font-size: x-small">油漆验收</span>
                    </p>
                </div>
                <div class="jl-baike-content-container">
                    <p><span>[前期]&nbsp世上最牛装修流程图装修流程图</span></p>
                    <p><span>[前期]&nbsp世上最牛装修流程图装修流程图</span></p>
                    <p><span>[前期]&nbsp世上最牛装修流程图装修流程图</span></p>
                    <p><a href="#">更多内容</a></p>
                </div>
            </div>
        </li>

        <li>
            <div class="jl-baike-item">
                <div class="jl-baike-icon-container">
                    <img src="/images/icon-baike-01.png" style="width: 35px; height: 35px">
                    <p style="padding: 10px 0 0 0">
                        <span style="font-size: x-small">空气质量</span>
                    </p>
                </div>
                <div class="jl-baike-content-container">
                    <p><span>[前期]&nbsp世上最牛装修流程图装修流程图</span></p>
                    <p><span>[前期]&nbsp世上最牛装修流程图装修流程图</span></p>
                    <p><span>[前期]&nbsp世上最牛装修流程图装修流程图</span></p>
                    <p><a href="#">更多内容></a></p>
                </div>
            </div>
        </li>

        <li>
            <div class="jl-baike-item">
                <div class="jl-baike-icon-container">
                    <img src="/images/icon-baike-01.png" style="width: 35px; height: 35px">
                    <p style="padding: 10px 0 0 0">
                        <span style="font-size: x-small">竣工验收</span>
                    </p>
                </div>
                <div class="jl-baike-content-container">
                    <p><span>[前期]&nbsp世上最牛装修流程图装修流程图</span></p>
                    <p><span>[前期]&nbsp世上最牛装修流程图装修流程图</span></p>
                    <p><span>[前期]&nbsp世上最牛装修流程图装修流程图</span></p>
                    <p><a href="#">更多内容</a></p>
                </div>
            </div>
        </li>

</div>