<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <div class="i-title jl-about-us">
            <i class="fa fa-user-o"></i><span>联系我们</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <div class="jl-contract-us">
            <p>
                <span class="contract-label">电话</span><span>0571-88054929</span>
            </p>
            <p>
                <span class="contract-label">手机</span><span>18005887458</span><span>15715778855</span>
            </p>
            <p>
                <span class="contract-label">QQ</span><span>1051870530</span>
            </p>
            <p>
                <span class="contract-label">邮箱</span><span>1051870530@qq.com</span>
            </p>
            <p>
                <span class="contract-label">地址</span><span>拱墅区祥园路38号浙报印务中心308室</span>
            </p>
        </div>

    </div>
</div>