<div class="jl-example">
    <ul>
        <li>
            <div class="jl-example-item">
                <img src="/images/index-slider-01.png"/>
                <div class="jl-engineer-container">
                    <div class="jl-engineer-pic-outer">
                        <div class="jl-engineer-pic-inner">
                        </div>
                    </div>
                    <p>
                        <span style="font-size: 90%">王建国</span>
                    </p>
                    <p><span style="background-color: lightblue; font-size: 70%">四级监理</span></p>
                </div>
                <div class="jl-client-house">
                    <span>西湖区</span>
                    <span>117平凡</span>
                    <span>3居室</span>
                </div>
            </div>
        </li>
        <li>
            <div class="jl-example-item">
                <img src="/images/index-slider-01.png"/>
                <div class="jl-engineer-container">
                    <div class="jl-engineer-pic-outer">
                        <div class="jl-engineer-pic-inner">
                        </div>
                    </div>
                    <p>
                        <span style="font-size: 90%">王建国</span>
                    </p>
                    <p><span style="background-color: lightblue; font-size: 70%">四级监理</span></p>
                </div>
                <div class="jl-client-house">
                    <span>西湖区</span>
                    <span>117平凡</span>
                    <span>3居室</span>
                </div>
            </div>
        </li>
        <li>
            <div class="jl-example-item">
                <img src="/images/index-slider-01.png"/>
                <div class="jl-engineer-container">
                    <div class="jl-engineer-pic-outer">
                        <div class="jl-engineer-pic-inner">
                        </div>
                    </div>
                    <p>
                        <span style="font-size: 90%">王建国</span>
                    </p>
                    <p><span style="background-color: lightblue; font-size: 70%">四级监理</span></p>
                </div>
                <div class="jl-client-house">
                    <span>西湖区</span>
                    <span>117平凡</span>
                    <span>3居室</span>
                </div>
            </div>
        </li>
        <li>
            <div class="jl-example-item">
                <img src="/images/index-slider-01.png"/>
                <div class="jl-engineer-container">
                    <div class="jl-engineer-pic-outer">
                        <div class="jl-engineer-pic-inner">
                        </div>
                    </div>
                    <p>
                        <span style="font-size: 90%">王建国</span>
                    </p>
                    <p><span style="background-color: lightblue; font-size: 70%">四级监理</span></p>
                </div>
                <div class="jl-client-house">
                    <span>西湖区</span>
                    <span>117平凡</span>
                    <span>3居室</span>
                </div>
            </div>
        </li>
        <li>
            <div class="jl-example-item">
                <img src="/images/index-slider-01.png"/>
                <div class="jl-engineer-container">
                    <div class="jl-engineer-pic-outer">
                        <div class="jl-engineer-pic-inner">
                        </div>
                    </div>
                    <p>
                        <span style="font-size: 90%">王建国</span>
                    </p>
                    <p><span style="background-color: lightblue; font-size: 70%">四级监理</span></p>
                </div>
                <div class="jl-client-house">
                    <span>西湖区</span>
                    <span>117平凡</span>
                    <span>3居室</span>
                </div>
            </div>
        </li>
        <li>
            <div class="jl-example-item">
                <img src="/images/index-slider-01.png"/>
                <div class="jl-engineer-container">
                    <div class="jl-engineer-pic-outer">
                        <div class="jl-engineer-pic-inner">
                        </div>
                    </div>
                    <p>
                        <span style="font-size: 90%">王建国</span>
                    </p>
                    <p><span style="background-color: lightblue; font-size: 70%">四级监理</span></p>
                </div>
                <div class="jl-client-house">
                    <span>西湖区</span>
                    <span>117平凡</span>
                    <span>3居室</span>
                </div>
            </div>
        </li>
        <li>
            <div class="jl-example-item">
                <img src="/images/index-slider-01.png"/>
                <div class="jl-engineer-container">
                    <div class="jl-engineer-pic-outer">
                        <div class="jl-engineer-pic-inner">
                        </div>
                    </div>
                    <p>
                        <span style="font-size: 90%">王建国</span>
                    </p>
                    <p><span style="background-color: lightblue; font-size: 70%">四级监理</span></p>
                </div>
                <div class="jl-client-house">
                    <span>西湖区</span>
                    <span>117平凡</span>
                    <span>3居室</span>
                </div>
            </div>
        </li>
        <li>
            <div class="jl-example-item">
                <img src="/images/index-slider-01.png"/>
                <div class="jl-engineer-container">
                    <div class="jl-engineer-pic-outer">
                        <div class="jl-engineer-pic-inner">
                        </div>
                    </div>
                    <p>
                        <span style="font-size: 90%">王建国</span>
                    </p>
                    <p><span style="background-color: lightblue; font-size: 70%">四级监理</span></p>
                </div>
                <div class="jl-client-house">
                    <span>西湖区</span>
                    <span>117平凡</span>
                    <span>3居室</span>
                </div>
            </div>
        </li>
</div>