<div class="jl-example" id="jl-example">
    <ul>
        <li v-for="item in items">
            <div class="jl-example-item">
                <img src="{% raw %}{{item.cover}}{% endraw %}"/>
                <div class="jl-engineer-container">
                    <img class="jl-engineer-pic" src="{% raw %}{{item.staff.photo}}{% endraw %}"/>
                    <p>
                        <span style="font-size: 90%">{% raw %}{{item.staff.name}}{% endraw %}</span>
                    </p>
                </div>
                <div class="jl-client-house">
                    <span>{% raw %}{{item.building.address.district}}{% endraw %}</span>
                    <span>117平凡</span>
                    <span>3居室</span>
                </div>
            </div>
        </li>

</div>