<div class="jl-journal">
    <ul>
        <!--<li v-for="item in items">-->
        <!--<div class="jl-example-item">-->
        <!--<img src="{% raw %}{{item.cover}}{% endraw %}"/>-->
        <!--<div class="jl-engineer-container">-->
        <!--<img class="jl-engineer-pic" src="{% raw %}{{item.staff.photo}}{% endraw %}"/>-->
        <!--<p>-->
        <!--<span style="font-size: 90%">{% raw %}{{item.staff.name}}{% endraw %}</span>-->
        <!--</p>-->
        <!--</div>-->
        <!--<div class="jl-client-house">-->
        <!--<span>{% raw %}{{item.building.address.district}}{% endraw %}</span>-->
        <!--<span>117平凡</span>-->
        <!--<span>3居室</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</li>-->
        <li>
            <div class="jl-journal-item">
                <img src="/images/tmp-01.png"/>
                <div class="jl-journal-cover">
                    <h4 class="jl-journal-cover-title">武林壹号</h4>
                    <p class="jl-journal-cover-footer">3居室 117平方</p>
                </div>
            </div>
        </li>
        <li>
            <div class="jl-journal-item">
                <img src="/images/tmp-01.png"/>
                <div class="jl-journal-cover">
                    <h4 class="jl-journal-cover-title">武林壹号</h4>
                    <p class="jl-journal-cover-footer">3居室 117平方</p>
                </div>
            </div>
        </li>
        <li>
            <div class="jl-journal-item">
                <img src="/images/tmp-01.png"/>
                <div class="jl-journal-cover">
                    <h4 class="jl-journal-cover-title">武林壹号</h4>
                    <p class="jl-journal-cover-footer">3居室 117平方</p>
                </div>
            </div>
        </li>
        <li>
            <div class="jl-journal-more">
                <p>
                    <a href="#" style="color: white; font-size: large">
                        <i class="fa fa-hand-o-right fa-4x"></i>
                        <span>查看更多</span>
                    </a>
                </p>
            </div>
        </li>
    </ul>
</div>