<div class="jl-process">
    <ul>
        <li>
            <div class="jl-process-item">
                <div class="jl-process-item-img">
                    <img src="/images/service-process-01.png"/>
                </div>
                <div class="jl-process-item-title">
                    <h5>前期审核</h5>
                </div>
                <div class="jl-process-item-detail">
                    <p>收费单价合理</p>
                    <p>收费单价合理</p>
                    <p>收费单价合理</p>
                </div>
            </div>
        </li>
        <li>
            <div class="jl-process-seperator">
                ...
            </div>
        </li>
        <li>
            <section class="jl-process-item">
                <div class="jl-process-item-img">
                    <img src="/images/service-process-01.png"/>
                </div>
                <div class="jl-process-item-title">
                    <h5>前期审核</h5>
                </div>
                <div class="jl-process-item-detail">
                    <p>收费单价合理</p>
                    <p>收费单价合理</p>
                    <p>收费单价合理</p>
                </div>
            </section>
        </li>
        <li>
            <div class="jl-process-seperator">
                ...
            </div>
        </li>
        <li>
            <section class="jl-process-item">
                <div class="jl-process-item-img">
                    <img src="/images/service-process-01.png"/>
                </div>
                <div class="jl-process-item-title">
                    <h5>前期审核</h5>
                </div>
                <div class="jl-process-item-detail">
                    <p>收费单价合理</p>
                    <p>收费单价合理</p>
                    <p>收费单价合理</p>
                </div>
            </section>
        </li>
        <li>
            <div class="jl-process-seperator">
                ...
            </div>
        </li>
        <li>
            <section class="jl-process-item">
                <div class="jl-process-item-img">
                    <img src="/images/service-process-01.png"/>
                </div>
                <div class="jl-process-item-title">
                    <h5>前期审核</h5>
                </div>
                <div class="jl-process-item-detail">
                    <p>收费单价合理</p>
                    <p>收费单价合理</p>
                    <p>收费单价合理</p>
                </div>
            </section>
        </li>
        <li>
            <div class="jl-process-seperator">
                ...
            </div>
        </li>
        <li>
            <section class="jl-process-item">
                <div class="jl-process-item-img">
                    <img src="/images/service-process-01.png"/>
                </div>
                <div class="jl-process-item-title">
                    <h5>前期审核</h5>
                </div>
                <div class="jl-process-item-detail">
                    <p>收费单价合理</p>
                    <p>收费单价合理</p>
                    <p>收费单价合理</p>
                </div>
            </section>
        </li>
        <li>
            <div class="jl-process-seperator">
                ...
            </div>
        </li>
        <li>
            <section class="jl-process-item">
                <div class="jl-process-item-img">
                    <img src="/images/service-process-01.png"/>
                </div>
                <div class="jl-process-item-title">
                    <h5>前期审核</h5>
                </div>
                <div class="jl-process-item-detail">
                    <p>收费单价合理</p>
                    <p>收费单价合理</p>
                    <p>收费单价合理</p>
                </div>
            </section>
        </li>
    </ul>
</div>