<div class="jl-process">
    <ul>
        <li>
            <div class="jl-process-item">
                <div class="jl-process-item-img">
                    <i class="fa fa-address-card-o fa-lg" style="color:white"></i>
                </div>
                <div class="jl-process-item-content">
                    <p class="jl-process-item-title">第一步: 前期审核</p>
                    <p class="jl-process-item-detail">从专业的角度进行审核从专业的角度进行审核从专业的角度进行审核从专业的角度进行审核</p>

                </div>
            </div>
        </li>

        <li>
            <div class="jl-process-item">
                <div class="jl-process-item-img">
                    <i class="fa fa-map-marker fa-lg" style="color: white"></i>
                </div>
                <div class="jl-process-item-content">
                    <p class="jl-process-item-title">第二步: 现场交底</p>
                    <p class="jl-process-item-detail">仔细检查房屋的基本情况,业主与监理、项目经理、设计师确认监理计划</p>

                </div>
            </div>
        </li>

        <li>
            <div class="jl-process-item">
                <div class="jl-process-item-img">
                    <i class="fa fa-eye-slash fa-lg" style="color: white"></i>
                </div>
                <div class="jl-process-item-content">
                    <p class="jl-process-item-title">第三步: 隐蔽工程</p>
                    <p class="jl-process-item-detail">监理会从专业的角度为工程的拆除、新建、水电改在等层层把好质量关</p>

                </div>
            </div>
        </li>

        <li>
            <div class="jl-process-item">
                <div class="jl-process-item-img">
                    <i class="fa fa-tree fa-lg" style="color: white"></i>
                </div>
                <div class="jl-process-item-content">
                    <p class="jl-process-item-title">第四步: 材料验收</p>
                    <p class="jl-process-item-detail">材料进场时监理人员对各种材料,例如,水泥,油漆,木板等进行检验,保证材料安装合同的要求</p>

                </div>
            </div>
        </li>

        <li>
            <div class="jl-process-item">
                <div class="jl-process-item-img">
                    <i class="fa fa-bell fa-lg" style="color: white"></i>
                </div>
                <div class="jl-process-item-content">
                    <p class="jl-process-item-title">第五步: 定期检查</p>
                    <p class="jl-process-item-detail">监理工程师会不定期,在不通知项目经理的前提下,突击现场监理,最大限度保障工地现场符合规范</p>

                </div>
            </div>
        </li>

        <li>
            <div class="jl-process-item">
                <div class="jl-process-item-img">
                    <i class="fa fa-flag-checkered fa-lg" style="color: white"></i>
                </div>
                <div class="jl-process-item-content">
                    <p class="jl-process-item-title">第四步: 竣工验收</p>
                    <p class="jl-process-item-detail">从整体上验收,包括空气质量、业内标准等,保证最后的交付符合关键标准</p>

                </div>
            </div>
        </li>

    </ul>
</div>