<div class="jl-process">
    <ul>
        <li>
            <div class="jl-process-item">
                <div class="jl-process-item-img">
                    <img src="/images/jl-process-01.jpg"/>
                </div>
                <div class="jl-process-item-title">
                    <h6>前期审核</h6>
                </div>
                <div class="jl-process-item-detail">
                    <p>收费单价审核</p>
                    <p>合同审核</p>
                    <p>责任审核</p>
                    <p>责任审核</p>
                    <p>责任审核</p>
                    <p>责任审核</p>
                </div>
            </div>
        </li>
        <li>
            <div class="jl-process-seperator">
                . . .
            </div>
        </li>
        <li>
            <div class="jl-process-item">
                <div class="jl-process-item-img">
                    <img src="/images/jl-process-01.jpg"/>
                </div>
                <div class="jl-process-item-title">
                    <h6>水电阶段</h6>
                </div>
                <div class="jl-process-item-detail">
                    <p>收费单价审核</p>
                    <p>合同审核</p>
                    <p>责任审核</p>
                    <p>责任审核</p>
                    <p>责任审核</p>
                    <p>责任审核</p>
                </div>
            </div>
        </li>
        <li>
            <div class="jl-process-seperator">
                . . .
            </div>
        </li>
        <li>
            <div class="jl-process-item">
                <div class="jl-process-item-img">
                    <img src="/images/jl-process-01.jpg"/>
                </div>
                <div class="jl-process-item-title">
                    <h6>泥工验收</h6>
                </div>
                <div class="jl-process-item-detail">
                    <p>收费单价审核</p>
                    <p>合同审核</p>
                    <p>责任审核</p>
                    <p>责任审核</p>
                    <p>责任审核</p>
                    <p>责任审核</p>
                </div>
            </div>
        </li>
        <li>
            <div class="jl-process-seperator">
                . . .
            </div>
        </li>
        <li>
            <div class="jl-process-item">
                <div class="jl-process-item-img">
                    <img src="/images/jl-process-01.jpg"/>
                </div>
                <div class="jl-process-item-title">
                    <h6>木工验收</h6>
                </div>
                <div class="jl-process-item-detail">
                    <p>收费单价审核</p>
                    <p>合同审核</p>
                    <p>责任审核</p>
                    <p>责任审核</p>
                    <p>责任审核</p>
                    <p>责任审核</p>
                </div>
            </div>
        </li>
        <li>
            <div class="jl-process-seperator">
                . . .
            </div>
        </li>
        <li>
            <div class="jl-process-item">
                <div class="jl-process-item-img">
                    <img src="/images/jl-process-01.jpg"/>
                </div>
                <div class="jl-process-item-title">
                    <h6>油漆粉刷</h6>
                </div>
                <div class="jl-process-item-detail">
                    <p>收费单价审核</p>
                    <p>合同审核</p>
                    <p>责任审核</p>
                    <p>责任审核</p>
                    <p>责任审核</p>
                    <p>责任审核</p>
                </div>
            </div>
        </li>
        <li>
            <div class="jl-process-seperator">
                . . .
            </div>
        </li>
        <li>
            <div class="jl-process-item">
                <div class="jl-process-item-img">
                    <img src="/images/jl-process-01.jpg"/>
                </div>
                <div class="jl-process-item-title">
                    <h6>竣工验收</h6>
                </div>
                <div class="jl-process-item-detail">
                    <p>收费单价审核</p>
                    <p>合同审核</p>
                    <p>责任审核</p>
                    <p>责任审核</p>
                    <p>责任审核</p>
                    <p>责任审核</p>
                </div>
            </div>
        </li>
    </ul>
</div>