<div class="jl-team">
    <ul>
        <li>
            <div class="jl-team-item">
                <img class="il-team-round" src="/images/index-slider-01.png"/>
                <div class="jl-team-content">
                    <h6 class="name">王健国</h6>
                    <p>级别:3级</p>
                    <p>资历:10年</p>
                </div>
            </div>

        </li>
        <li>
            <div class="jl-team-item">
                <img class="il-team-round" src="/images/index-slider-01.png"/>
                <div class="jl-team-content">
                    <h6 class="name">王健国</h6>
                    <p>级别:3级</p>
                    <p>资历:10年</p>
                </div>
            </div>

        </li>

        <li>
            <div class="jl-team-item">
                <img class="il-team-round" src="/images/index-slider-01.png"/>
                <div class="jl-team-content">
                    <h6 class="name">王健国</h6>
                    <p>级别:3级</p>
                    <p>资历:10年</p>
                </div>
            </div>

        </li>
        <li>
            <div class="jl-team-item">
                <img class="il-team-round" src="/images/index-slider-01.png"/>
                <div class="jl-team-content">
                    <h6 class="name">王健国</h6>
                    <p>级别:3级</p>
                    <p>资历:10年</p>
                </div>
            </div>

        </li>
        <li>
            <div class="jl-team-item">
                <img class="il-team-round" src="/images/index-slider-01.png"/>
                <div class="jl-team-content">
                    <h6 class="name">王健国</h6>
                    <p>级别:3级</p>
                    <p>资历:10年</p>
                </div>
            </div>

        </li>
    </ul>
</div>