<div class="row header">

    <div class="col-md-2 col-md-offset-1">
        <a href="/" class="logo" title="装小蜜家装监理-管家式家装监理服务"><img src="/images/logo.png"
                                                                style="width: 82px; height: 20px"></a>
    </div>
    <div class="col-md-6">
        <div class="navbar">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <a>登录</a>
    </div>

</div>