<header id="header" class="header">
    <div class="header-inner">
        <nav class="site-nav">
            <ul id="menu" class="menu">
                <li class="menu-item menu-item-home menu-item-active" style="opacity: 1; transform: translateY(0px);">
                    <a href="/" rel="section">
                        <i class="menu-item-icon fa fa-home fa-fw"></i> <br>

                        首页
                    </a>
                </li>


                <li class="menu-item menu-item-archives" style="opacity: 1; transform: translateY(0px);">
                    <a href="/archives" rel="section">

                        <i class="menu-item-icon fa fa-archive fa-fw"></i> <br>

                        归档
                    </a>
                </li>


                <li class="menu-item menu-item-categories" style="opacity: 1; transform: translateY(0px);">
                    <a href="/categories" rel="section">

                        <i class="menu-item-icon fa fa-th fa-fw"></i> <br>

                        分类
                    </a>
                </li>


                <li class="menu-item menu-item-tags" style="opacity: 1; transform: translateY(0px);">
                    <a href="/tags" rel="section">

                        <i class="menu-item-icon fa fa-tags fa-fw"></i> <br>

                        标签
                    </a>
                </li>


                <li class="menu-item menu-item-hire" style="opacity: 1; transform: translateY(0px);">
                    <a href="/hire" rel="section">

                        <i class="menu-item-icon fa fa-fire fa-fw"></i> <br>

                        招聘
                    </a>
                </li>


                <li class="menu-item menu-item-about" style="opacity: 1; transform: translateY(0px);">
                    <a href="/about" rel="section">

                        <i class="menu-item-icon fa fa-users fa-fw"></i> <br>

                        关于
                    </a>
                </li>


                <li class="menu-item menu-item-search" style="opacity: 1; transform: translateY(0px);">

                    <a href="#" class="st-search-show-outputs">


                        <i class="menu-item-icon fa fa-search fa-fw"></i> <br>

                        搜索
                    </a>
                </li>

            </ul>

        </nav>

    </div>
</header>