<div id="quick_nav">
    <ul>
        <li>
            <div class="img-outer">
                <img src="/images/quick-nav-01.png"/>
            </div>
        </li>
        <li>
            <div class="img-outer">
                <img src="/images/quick-nav-02.png"/>
            </div>
        </li>
        <li>
            <div class="img-outer">
                <img src="/images/quick-nav-03.png"/>
            </div>
        </li>
        <li>
            <div class="img-outer">
                <img src="/images/quick-nav-05.png"/>
            </div>
        </li>
    </ul>

</div>