<div id="quick_nav">
    <ul>
        <li>
            <div class="weixin">
                <img src="/images/weixin.png" class="icon"/>
                <img src="/images/weixin.png" class="full-content non-visible"/>
            </div>
        </li>
        <li>
            <div class="qq">
                <img src="/images/qq-offline.png" class="icon"/>
            </div>
        </li>
        <li>
            <div class="qq">
                <img src="/images/qq-online.png" class="icon"/>
            </div>
        </li>



    </ul>

</div>