<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}崔工监理{% endblock %}</title>
    {% block head %}
    <link href="//cdn.bootcss.com/normalize/4.1.1/normalize.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.js"></script>
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    {% include "../components/nav-bar.html" %}
    {% block content %}
    {% endblock %}
    {% include "../components/footer.html" %}
</div>
{% block footer %}
<script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/bootbox.js/4.4.0/bootbox.js"></script>
<script src="//cdn.bootcss.com/vue/1.0.24/vue.min.js"></script>
<script>
    Vue.mixin({
        methods: {
            _api_host: function () {
//                return "http://localhost:8080";
                return "";
            },
            _post: function (api, data, success_callback, error_callback) {
                var self = this;
                $.ajax({
                    method: 'post',
                    url: self._api_host() + api,
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: success_callback,
                    error: error_callback
                })
            },
            _get: function (api, data, success_callback, error_callback) {
                var self = this;
                $.ajax({
                    method: 'get',
                    url: self._api_host() + api,
                    data: data,
                    success: success_callback,
                    error: error_callback
                })
            }

        }
    });
    function show_tip(message) {
        bootbox.dialog({
            message: message,
            title: "提示",
            animate: true,
            buttons: {
                success: {
                    label: "好的",
                    className: "btn-success"
                }
            }
        });

    }
</script>
{% endblock %}
</body>
</html>