@import "components/common";
@import "components/nav-bar";
@import "components/quick-nav";
@import "components/jl-process";

#banner-carousel {
  height: 405px;
  background-color: red;
}

#service-introduction {
  height: 546px;
  background-color: gainsboro;
  padding-top: 110px;
}

#service-process {
  height: 550px;
  background-color: grey;
  padding-top: 70px;
}