@import "components/common";
@import "components/banner-carousel";
@import "components/quick-join";
@import "components/nav-bar";
@import "components/quick-nav";
@import "components/jl-process";
@import "components/jl-journal";
@import "components/jl-contact";
@import "components/footer";

@media (min-device-width: 544px) {
  .i-title {
    font-size: 24px;
  }

  .i-title span {
    font-size: 28px;
  }

  .jl-service-intro-img {
    display: block;
  }

}

@media (max-device-width: 544px) {
  .jl-service-intro-img {
    display: none;
  }

  .i-title {
    font-size: 18px;
  }

  .i-title span {
    font-size: 24px;
  }
}

/* 每个模块的title*/
.i-title {
  text-transform: uppercase;
  font-size: 16px;
  color: #3f8c7f;
  line-height: 50px;
  vertical-align: top;
  margin: 10px 0 16px;
}

.i-title span {
  font-family: arial;
  font-size: 18px;
}

.i-title i {
  margin: 8px 8px 8px 0;
}

.jl-service-intro article p {
  font-size: 14px;
  line-height: 24px;
  color: #7f7f7f;
  margin-top: 24px;
  text-indent: 2em;
}

.jl-service-intro .i-title {
  border-bottom: 1px solid #dbdbdb;
}

.jl-process-title {
  color: #dae5e2;
}

.jl-journal-title {
  color: #3f8c7f;
}

.jl-about-us {
  color: white;
}

.jl-about-us span {
  font-size: 16px;
}

//地图
.iw_poi_title {
  color: #CC5522;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  padding-right: 13px;
  white-space: nowrap
}

.iw_poi_content {
  font: 12px arial, sans-serif;
  overflow: visible;
  padding-top: 4px;
  white-space: -moz-pre-wrap;
  word-wrap: break-word
}