@import "components/common";
@import "components/banner-carousel";
@import "components/quick-join";
@import "components/nav-bar";
@import "components/quick-nav";
@import "components/jl-process";
@import "components/jl-journal";
@import "components/footer";

@media (min-device-width: 544px) {
  .jl-service-intro {
    padding-top: 60px;
    height: 500px;
  }

  .i-title {
    font-size: 24px;
  }

  .i-title span {
    font-size: 28px;
  }

  .jl-service-intro-img {
    display: block;
  }

}

@media (max-device-width: 544px) {
  .jl-service-intro-img {
    display: none;
  }

  .jl-service-intro {
    padding-top: 10px;
    height: 400px;
  }

  .i-title {
    font-size: 18px;
  }

  .i-title span {
    font-size: 24px;
  }

}

.jl-service-intro article p {
  font-size: 14px;
  line-height: 24px;
  color: #7f7f7f;
  margin-top: 24px;
  text-indent: 2em;
}

.i-title {
  text-transform: uppercase;
  font-size: 16px;
  color: #3f8c7f;
  line-height: 50px;
  vertical-align: top;
  border-bottom: 1px solid #dbdbdb;
  margin: 20px 0 16px;
}

.i-title span {
  font-family: arial;
  color: #3f8c7f;
  font-size: 18px;
}

.i-title i, .jl-process-title i, .jl-journal-title i {
  margin: 5px;
}

.jl-process-title {
  font-family: arial;
  color: #dae5e2;
  font-size: 18px;
}

.jl-journal-title {
  font-family: arial;
  color: #3f8c7f;
  font-size: 18px;
}