@import "components/common";
@import "components/nav-bar";
@import "components/footer";

.jl-detail-breadcrumb {
  background-color: white;
  padding-left: 0;
  margin-bottom: 0px;
}

.jl-detail-building {
  background-color: #d1d1d1;
  padding: 20px;
}

.jl-detail-building .i-title {
  border-bottom: 1px solid #b2b2b2;
  padding-bottom: 15px;
}

.jl-detail-building .i-group {
  display: inline-block;
  padding-top: 10px;
  padding-right: 10px;
  width: 400px;
  font-size: small;
}

.jl-detail-building .i-group label {
  color: #ababab;
}

.jl-detail-building .i-group span {
  margin-left: 40px;
}

.jl-process {
  padding: 0;
  margin: 0 40px;
}

.jl-process .jl-process-item {
  text-align: center;
}

.jl-process .jl-process-item-img img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid white;
  text-align: center;
  padding-top: 0px;
}

.jl-process .jl-process-item-img .stat {
  position: absolute;
  top: 18px;
  font-size: x-small;
  border-radius: 4px;
  padding: 2px 6px;
}

.jl-process .jl-process-item-img .i-finish {
  background-color: #ef8400;
  color: white;
}

.jl-process .jl-process-item-img .i-running {
  background-color: green;
  color: white;
}

.jl-process .jl-process-item-title {
  margin: 10px 0px 20px 0px;
  color: black;
  font-size: small;
}

.jl-process ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.jl-process li {
  float: left;
}

.jl-process .jl-process-seperator {
  padding: 15px 30px 0px 30px;
  color: black;
}

.jl-journal-list-item {
  min-height: 280px;
}

.jl-journal-list-item-detail {
  background-color: lightgray;
  padding: 0;
  font-size: small;
  margin-left: 0px;
  width: 100%;
}

.jl-journal-list-item-detail p {
  padding: 0;
  margin: 0;
  height: 50px;
  line-height: 130%;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  /*截断文字，显示省略号(...)*/
  -o-text-overflow: ellipsis;
  /*Opera的专用截断文字的属性*/
  text-align: justify;
  min-height: 80px;
}

.jl-journal-list-item-detail img {
  width: 135px;
  height: 135px;
  padding: 5px
}

.datepicker-container {
  text-align: center;
}

.datepicker-inline {
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #bdbdbd;
  border-radius: 0;
}

.datepicker-header {
  background-color: #848484;
  color: white;
  height: 40px;
  padding-top: 12px;
  margin-bottom: 0;
}