{% extends '../../layout/base_layout.html' %}
{% block head %}
{% parent %}
<link href="//cdn.bootcss.com/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="/css/journal-detail.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="journal-detail-content">
    <div class="row">
        <div class="col-md-9">
            <div class="row" style="padding-bottom:10px;border-bottom: 1px solid lightgray">
                <div class="col-md-6" style="padding: 0">
                    <ol class="breadcrumb jl-detail-breadcrumb">
                        <li>
                            <a href="/pages/journal/journal.html">
                                <div class="i-title jl-journal-title">
                                    <i class="fa fa-book"></i><span>监理日志</span>
                                </div>
                            </a>
                        </li>
                        <li style="color: grey">工程详情</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 jl-detail-building" style="margin-top: 25px">
                    <h5 class="i-title">竹海水韵-2单元-1203</h5>
                    <div class="i-group">
                        <label>工程地点:</label>
                        <span>余杭区闲林镇</span>
                    </div>
                    <div class="i-group">
                        <label>单元户型:</label>
                        <span>三室一厅</span>
                    </div>
                    <div class="i-group">
                        <label>监理类型:</label>
                        <span>全程监理</span>
                    </div>
                    <div class="i-group">
                        <label>预计工期:</label>
                        <span>60天</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-top: 25px">
                    <div class="jl-detail-process">
                        <ul>
                            <li>
                                <div class="jl-detail-process-item">
                                    <div class="jl-detail-process-item-img">
                                        <div class="process-icon">
                                            <i class="fa fa-address-card-o fa-lg" style="color:white"></i>
                                        </div>
                                        <span class="stat i-finish">已经完成</span>
                                    </div>
                                    <div class="jl-detail-process-item-title">
                                        <label>前期审核</label>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="jl-detail-process-separator">
                                    . . .
                                </div>
                            </li>

                            <li>
                                <div class="jl-detail-process-item">
                                    <div class="jl-detail-process-item-img">
                                        <div class="process-icon">
                                            <i class="fa fa-map-marker fa-lg" style="color:white"></i>
                                        </div>
                                        <span class="stat i-finish">已经完成</span>
                                    </div>
                                    <div class="jl-detail-process-item-title">
                                        <label>现场交低</label>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="jl-detail-process-separator">
                                    . . .
                                </div>
                            </li>


                            <li>
                                <div class="jl-detail-process-item">
                                    <div class="jl-detail-process-item-img">
                                        <div class="process-icon">
                                            <i class="fa fa-eye-slash fa-lg" style="color:white"></i>
                                        </div>
                                        <span class="stat i-running">正在进行</span>
                                    </div>
                                    <div class="jl-detail-process-item-title">
                                        <label>隐蔽工程</label>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="jl-detail-process-separator">
                                    . . .
                                </div>
                            </li>

                            <li>
                                <div class="jl-detail-process-item">
                                    <div class="jl-detail-process-item-img">
                                        <div class="process-icon">
                                            <i class="fa fa-tree fa-lg" style="color:white"></i>
                                        </div>
                                    </div>
                                    <div class="jl-detail-process-item-title">
                                        <label>材料验收</label>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="jl-detail-process-separator">
                                    . . .
                                </div>
                            </li>

                            <li>
                                <div class="jl-detail-process-item">
                                    <div class="jl-detail-process-item-img">
                                        <div class="process-icon">
                                            <i class="fa fa-flag-checkered fa-lg" style="color:white"></i>
                                        </div>
                                    </div>
                                    <div class="jl-detail-process-item-title">
                                        <label>竣工验收</label>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul style="padding: 0">
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-12 jl-journal-list-item-detail">
                                    <div style="padding:15px">
                                        <strong>王监国</strong>
                                        <h6>2个小时前</h6>在现场说:
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-12 jl-journal-list-item-detail">
                                    <div style="padding:15px">
                                        <strong>王监国</strong>
                                        <h6>2个小时前</h6>在现场说:
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-12 jl-journal-list-item-detail">
                                    <div style="padding:15px">
                                        <strong>王监国</strong>
                                        <h6>2个小时前</h6>在现场说:
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-12 jl-journal-list-item-detail">
                                    <div style="padding:15px">
                                        <strong>王监国</strong>
                                        <h6>2个小时前</h6>在现场说:
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-right: 0">
                    <nav style="float: right">
                        <ul class="pagination pagination-sm" style="margin-top: 0">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
        <div class="col-md-3 datepicker-container">
            <div class="datepicker-header">
                <h6>监理巡查日记</h6>
            </div>
            <div class="datepicker datepicker-inline">
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% parent %}
<script src="http://cdn.bootcss.com/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap-datepicker/1.6.1/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="/js/journal.js"></script>
{% endblock %}
