{% extends '../../layout/base_layout.html' %}
{% block head %}
{% parent %}
<link href="/css/journal.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="journal-list-content">
    <div class="row">
        <div class="col-md-11">
            <div class="row" style="padding-bottom:10px;border-bottom: 1px solid lightgray">
                <div class="col-md-3">
                    <div class="i-title jl-journal-title">
                        <i class="fa fa-book"></i><span>监理日志</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-top: 25px">
                    <ul style="margin-left: 0px; padding-left: 0">
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-1 jl-journal-list-item-employer">
                                    <img src="/images/tmp-portal-01.jpeg"/>
                                    <p>王建国</p>
                                    <p><span class="i-bg">4级监理</span></p>
                                </div>
                                <div class="col-md-11 jl-journal-list-item-detail">
                                    <div class="jl-journal-list-item-top">
                                        <label><h6>2个小时前</h6>在现场说:</label>
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                    </div>
                                    <div class="jl-journal-list-item-footer">
                                        <label>竹海水韵春风里</label>
                                        <label>123平米,三室一厅</label>
                                        <label>水电阶段</label>
                                        <label>半包</label>
                                        <p><a href="/pages/journal/detail.html">工程详情&gt;&gt;</a></p>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-1 jl-journal-list-item-employer">
                                    <img src="/images/tmp-portal-01.jpeg"/>
                                    <p>王建国</p>
                                    <p><span class="i-bg">4级监理</span></p>
                                </div>
                                <div class="col-md-11 jl-journal-list-item-detail">
                                    <div class="jl-journal-list-item-top">
                                        <label><h6>2个小时前</h6>在现场说:</label>
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                    </div>
                                    <div class="jl-journal-list-item-footer">
                                        <label>竹海水韵春风里</label>
                                        <label>123平米,三室一厅</label>
                                        <label>水电阶段</label>
                                        <label>半包</label>
                                        <p><a href="/pages/journal/detail.html">工程详情&gt;&gt;</a></p>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-1 jl-journal-list-item-employer">
                                    <img src="/images/tmp-portal-01.jpeg"/>
                                    <p>王建国</p>
                                    <p><span class="i-bg">4级监理</span></p>
                                </div>
                                <div class="col-md-11 jl-journal-list-item-detail">
                                    <div class="jl-journal-list-item-top">
                                        <label><h6>2个小时前</h6>在现场说:</label>
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                    </div>
                                    <div class="jl-journal-list-item-footer">
                                        <label>竹海水韵春风里</label>
                                        <label>123平米,三室一厅</label>
                                        <label>水电阶段</label>
                                        <label>半包</label>
                                        <p><a href="/pages/journal/detail.html">工程详情&gt;&gt;</a></p>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-1 jl-journal-list-item-employer">
                                    <img src="/images/tmp-portal-01.jpeg"/>
                                    <p>王建国</p>
                                    <p><span class="i-bg">4级监理</span></p>
                                </div>
                                <div class="col-md-11 jl-journal-list-item-detail">
                                    <div class="jl-journal-list-item-top">
                                        <label><h6>2个小时前</h6>在现场说:</label>
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                    </div>
                                    <div class="jl-journal-list-item-footer">
                                        <label>竹海水韵春风里</label>
                                        <label>123平米,三室一厅</label>
                                        <label>水电阶段</label>
                                        <label>半包</label>
                                        <p><a href="/pages/journal/detail.html">工程详情&gt;&gt;</a></p>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-1 jl-journal-list-item-employer">
                                    <img src="/images/tmp-portal-01.jpeg"/>
                                    <p>王建国</p>
                                    <p><span class="i-bg">4级监理</span></p>
                                </div>
                                <div class="col-md-11 jl-journal-list-item-detail">
                                    <div class="jl-journal-list-item-top">
                                        <label><h6>2个小时前</h6>在现场说:</label>
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                    </div>
                                    <div class="jl-journal-list-item-footer">
                                        <label>竹海水韵春风里</label>
                                        <label>123平米,三室一厅</label>
                                        <label>水电阶段</label>
                                        <label>半包</label>
                                        <p><a href="/pages/journal/detail.html">工程详情&gt;&gt;</a></p>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-1 jl-journal-list-item-employer">
                                    <img src="/images/tmp-portal-01.jpeg"/>
                                    <p>王建国</p>
                                    <p><span class="i-bg">4级监理</span></p>
                                </div>
                                <div class="col-md-11 jl-journal-list-item-detail">
                                    <div class="jl-journal-list-item-top">
                                        <label><h6>2个小时前</h6>在现场说:</label>
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                    </div>
                                    <div class="jl-journal-list-item-footer">
                                        <label>竹海水韵春风里</label>
                                        <label>123平米,三室一厅</label>
                                        <label>水电阶段</label>
                                        <label>半包</label>
                                        <p><a href="/pages/journal/detail.html">工程详情&gt;&gt;</a></p>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-1 jl-journal-list-item-employer">
                                    <img src="/images/tmp-portal-01.jpeg"/>
                                    <p>王建国</p>
                                    <p><span class="i-bg">4级监理</span></p>
                                </div>
                                <div class="col-md-11 jl-journal-list-item-detail">
                                    <div class="jl-journal-list-item-top">
                                        <label><h6>2个小时前</h6>在现场说:</label>
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                    </div>
                                    <div class="jl-journal-list-item-footer">
                                        <label>竹海水韵春风里</label>
                                        <label>123平米,三室一厅</label>
                                        <label>水电阶段</label>
                                        <label>半包</label>
                                        <p><a href="/pages/journal/detail.html">工程详情&gt;&gt;</a></p>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-1 jl-journal-list-item-employer">
                                    <img src="/images/tmp-portal-01.jpeg"/>
                                    <p>王建国</p>
                                    <p><span class="i-bg">4级监理</span></p>
                                </div>
                                <div class="col-md-11 jl-journal-list-item-detail">
                                    <div class="jl-journal-list-item-top">
                                        <label><h6>2个小时前</h6>在现场说:</label>
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                    </div>
                                    <div class="jl-journal-list-item-footer">
                                        <label>竹海水韵春风里</label>
                                        <label>123平米,三室一厅</label>
                                        <label>水电阶段</label>
                                        <label>半包</label>
                                        <p><a href="/pages/journal/detail.html">工程详情&gt;&gt;</a></p>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-1 jl-journal-list-item-employer">
                                    <img src="/images/tmp-portal-01.jpeg"/>
                                    <p>王建国</p>
                                    <p><span class="i-bg">4级监理</span></p>
                                </div>
                                <div class="col-md-11 jl-journal-list-item-detail">
                                    <div class="jl-journal-list-item-top">
                                        <label><h6>2个小时前</h6>在现场说:</label>
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                    </div>
                                    <div class="jl-journal-list-item-footer">
                                        <label>竹海水韵春风里</label>
                                        <label>123平米,三室一厅</label>
                                        <label>水电阶段</label>
                                        <label>半包</label>
                                        <p><a href="/pages/journal/detail.html">工程详情&gt;&gt;</a></p>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-1 jl-journal-list-item-employer">
                                    <img src="/images/tmp-portal-01.jpeg"/>
                                    <p>王建国</p>
                                    <p><span class="i-bg">4级监理</span></p>
                                </div>
                                <div class="col-md-11 jl-journal-list-item-detail">
                                    <div class="jl-journal-list-item-top">
                                        <label><h6>2个小时前</h6>在现场说:</label>
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                        <img src="/images/tmp-01.png"/>
                                    </div>
                                    <div class="jl-journal-list-item-footer">
                                        <label>竹海水韵春风里</label>
                                        <label>123平米,三室一厅</label>
                                        <label>水电阶段</label>
                                        <label>半包</label>
                                        <p><a href="/pages/journal/detail.html">工程详情&gt;&gt;</a></p>
                                    </div>
                                </div>
                            </div>

                        </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
