{% extends '../../layout/base_layout.html' %}
{% block head %}
{% parent %}
<link href="/css/journal.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="journal-list-content">
    <div class="row">
        <div class="col-md-8">
            <div class="row" style="border-bottom: 1px solid lightgray">
                <div class="col-md-3">
                    <div class="i-title jl-journal-title">
                        <i class="fa fa-book"></i><span>监理日志</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-top: 25px">
                    <ul>
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-1 jl-journal-list-item-employer">
                                    <img src="/images/icon-01.png"/>
                                    <p>王建国</p>
                                    <p>4级监理</p>
                                    <img src="/images/line-vertical.png"/>
                                </div>
                                <div class="col-md-11 jl-journal-list-item-detail">
                                    <div style="padding:15px">
                                        <label><strong>2个小时前</strong>在现场说:</label>
                                        <label style="float: right">前期准备</label>
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/img-baike-list-item.png"/>
                                        <img src="/images/img-baike-list-item.png"/>
                                        <img src="/images/img-baike-list-item.png"/>
                                        <img src="/images/img-baike-list-item.png"/>
                                    </div>
                                    <div class="jl-journal-list-item-footer">
                                        <label>竹海水韵春风里</label>
                                        <label>123平米,三室一厅</label>
                                        <label>水电阶段</label>
                                        <label>半包</label>
                                        <label><a href="/pages/journal/detail.html">工程详情&gt;&gt;</a></label>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-1 jl-journal-list-item-employer">
                                    <img src="/images/icon-01.png"/>
                                    <p>王建国</p>
                                    <p>4级监理</p>
                                    <img src="/images/line-vertical.png"/>
                                </div>
                                <div class="col-md-11 jl-journal-list-item-detail">
                                    <div style="padding:15px">
                                        <label><strong>2个小时前</strong>在现场说:</label>
                                        <label style="float: right">前期准备</label>
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/img-baike-list-item.png"/>
                                        <img src="/images/img-baike-list-item.png"/>
                                        <img src="/images/img-baike-list-item.png"/>
                                        <img src="/images/img-baike-list-item.png"/>
                                    </div>
                                    <div class="jl-journal-list-item-footer">
                                        <label>竹海水韵春风里</label>
                                        <label>123平米,三室一厅</label>
                                        <label>水电阶段</label>
                                        <label>半包</label>
                                        <label><a href="/pages/journal/detail.html">工程详情&gt;&gt;</a></label>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-1 jl-journal-list-item-employer">
                                    <img src="/images/icon-01.png"/>
                                    <p>王建国</p>
                                    <p>4级监理</p>
                                    <img src="/images/line-vertical.png"/>
                                </div>
                                <div class="col-md-11 jl-journal-list-item-detail">
                                    <div style="padding:15px">
                                        <label><strong>2个小时前</strong>在现场说:</label>
                                        <label style="float: right">前期准备</label>
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/img-baike-list-item.png"/>
                                        <img src="/images/img-baike-list-item.png"/>
                                        <img src="/images/img-baike-list-item.png"/>
                                        <img src="/images/img-baike-list-item.png"/>
                                    </div>
                                    <div class="jl-journal-list-item-footer">
                                        <label>竹海水韵春风里</label>
                                        <label>123平米,三室一厅</label>
                                        <label>水电阶段</label>
                                        <label>半包</label>
                                        <label><a href="/pages/journal/detail.html">工程详情&gt;&gt;</a></label>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-1 jl-journal-list-item-employer">
                                    <img src="/images/icon-01.png"/>
                                    <p>王建国</p>
                                    <p>4级监理</p>
                                    <img src="/images/line-vertical.png"/>
                                </div>
                                <div class="col-md-11 jl-journal-list-item-detail">
                                    <div style="padding:15px">
                                        <label><strong>2个小时前</strong>在现场说:</label>
                                        <label style="float: right">前期准备</label>
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/img-baike-list-item.png"/>
                                        <img src="/images/img-baike-list-item.png"/>
                                        <img src="/images/img-baike-list-item.png"/>
                                        <img src="/images/img-baike-list-item.png"/>
                                    </div>
                                    <div class="jl-journal-list-item-footer">
                                        <label>竹海水韵春风里</label>
                                        <label>123平米,三室一厅</label>
                                        <label>水电阶段</label>
                                        <label>半包</label>
                                        <label><a href="/pages/journal/detail.html">工程详情&gt;&gt;</a></label>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="row jl-journal-list-item">
                                <div class="col-md-1 jl-journal-list-item-employer">
                                    <img src="/images/icon-01.png"/>
                                    <p>王建国</p>
                                    <p>4级监理</p>
                                    <img src="/images/line-vertical.png"/>
                                </div>
                                <div class="col-md-11 jl-journal-list-item-detail">
                                    <div style="padding:15px">
                                        <label><strong>2个小时前</strong>在现场说:</label>
                                        <label style="float: right">前期准备</label>
                                        <p>厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫
                                            生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨房卫生间和空调厨炒熟了大小</p>
                                        <img src="/images/img-baike-list-item.png"/>
                                        <img src="/images/img-baike-list-item.png"/>
                                        <img src="/images/img-baike-list-item.png"/>
                                        <img src="/images/img-baike-list-item.png"/>
                                    </div>
                                    <div class="jl-journal-list-item-footer">
                                        <label>竹海水韵春风里</label>
                                        <label>123平米,三室一厅</label>
                                        <label>水电阶段</label>
                                        <label>半包</label>
                                        <label><a href="/pages/journal/detail.html">工程详情&gt;&gt;</a></label>
                                    </div>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-right: 0">
                    <nav style="float: right">
                        <ul class="pagination pagination-sm" style="margin-top: 0">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <p>经典案例</p>
            <!--<ul>-->
            <!--<li class="jl-recommend-journal-item">-->
            <!--<img src="/images/img-baike-list-item.png">-->
            <!--<div class="jl-recommend-journal-item-middle">-->
            <!--<p><strong>竹海水韵14撞</strong></p>-->
            <!--<p>王建国</p>-->
            <!--</div>-->
            <!--<a data-trigger="hover" data-placement="top"-->
            <!--title="" data-content="fa-arrow-circle-o-right" class="fancybox" data-original-title="">-->
            <!--<i class="fa fa-arrow-circle-o-right"></i></a>-->
            <!--</li>-->
            <!--<li class="jl-recommend-journal-item">-->
            <!--<img src="/images/img-baike-list-item.png">-->
            <!--<div class="jl-recommend-journal-item-middle">-->
            <!--<p><strong>竹海水韵14撞</strong></p>-->
            <!--<p>王建国</p>-->
            <!--</div>-->
            <!--<a data-trigger="hover" data-placement="top"-->
            <!--title="" data-content="fa-arrow-circle-o-right" class="fancybox" data-original-title="">-->
            <!--<i class="fa fa-arrow-circle-o-right"></i></a>-->
            <!--</li>-->
            <!--<li class="jl-recommend-journal-item">-->
            <!--<img src="/images/img-baike-list-item.png">-->
            <!--<div class="jl-recommend-journal-item-middle">-->
            <!--<p><strong>竹海水韵14撞</strong></p>-->
            <!--<p>王建国</p>-->
            <!--</div>-->
            <!--<a data-trigger="hover" data-placement="top"-->
            <!--title="" data-content="fa-arrow-circle-o-right" class="fancybox" data-original-title="">-->
            <!--<i class="fa fa-arrow-circle-o-right"></i></a>-->
            <!--</li>-->
            <!--<li class="jl-recommend-journal-item">-->
            <!--<img src="/images/img-baike-list-item.png">-->
            <!--<div class="jl-recommend-journal-item-middle">-->
            <!--<p><strong>竹海水韵14撞</strong></p>-->
            <!--<p>王建国</p>-->
            <!--</div>-->
            <!--<a data-trigger="hover" data-placement="top"-->
            <!--title="" data-content="fa-arrow-circle-o-right" class="fancybox" data-original-title="">-->
            <!--<i class="fa fa-arrow-circle-o-right"></i></a>-->
            <!--</li>-->
            <!--</ul>-->
        </div>
    </div>
</div>
{% endblock %}
